* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

html {
    font: 62, 5%;
}

/* fuentes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* paleta de colores */
:root {
    --color-uno: #4c0404;
    --color-dos: #742b0c52;
    --color-tres: #ac7c4c;
    --color-cuatro: #904b1b;
    --color-cinco: #9c5c24;
    --color-seis: #b68d6c;
    --color-siete: #d3baa2;
    --color-ocho: #b06c34;
}
/* CLASES GENERALES */
.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Home Presentacion */

.presentacion {
    width: 100%;
    height: 100vh;
    background-image: url(./images/cafefondo.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.NavBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* NavBar */

.NavBar-div {
    margin: 2rem 5rem;
}

.logo {
    height: 8rem;
}

.dolcata {
    height: 5rem;
}

.navegacion {
    background: rgba(255, 255, 255, 0);
}

.navegacion ul {
    list-style: none;
}

.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li > a {
    display: block;
    text-decoration: none;
    border-radius: 20px;
    padding: 0.3rem 0.7rem;
    color: #fff;
    background-color: var(--color-uno);
    border-color: var(--color-uno);
    margin-right: 3rem;
}

.menu > li > a:hover {
    color: #4c0404;
    transition: all 0.3s;
    color: #fff;
    background-color: var(--color-dos);
}

/* submenu */

.submenu {
    position: absolute;
    background-color: var(--color-uno);
    width: 70%;
    border-radius: 5%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    z-index: 100;
}

.submenu > li > a {
    display: block;
    padding: 0.8rem;
    color: rgb(255, 255, 255);
    padding: 0.3rem 0.7rem;
    text-decoration: none;
    text-align: center;
}

.submenu > li > a:hover {
    background-color: var(--color-dos);
}

li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.titulo {
    position: absolute;
    -webkit-text-stroke: 1px #fff;
    top: 42%;
    left: 24%;
}

small {
    color: var(--color-seis);
    font-size: 4.5rem;
    font-family: "Birthstone", cursive;
    position: absolute;
    -webkit-text-stroke: 1px #000;
    top: 30%;
    left: 21%;
}

h1 {
    font-size: 6rem;
    line-height: 5rem;
    letter-spacing: 0.8rem;
    font-family: "Lato", sans-serif;
    text-shadow: -1px 3px 24px rgba(0, 0, 0, 0.6);
}

/* TYPED JS */

.typed-cursor {
    opacity: 1;
    animation: typedjsBlink 0.7s infinite;
    -webkit-animation: typedjsBlink 0.7s infinite;
    animation: typedjsBlink 0.7s infinite;
}
@keyframes typedjsBlink {
    50% {
        opacity: 0;
    }
}
@-webkit-keyframes typedjsBlink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.typed-fade-out {
    opacity: 0;
    transition: opacity 0.25s;
    -webkit-animation: 0;
    animation: 0;
}

.typed-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 50%;
}

.typed {
    color: #fff;
    font-size: 1.1rem;
    font-family: "Birthstone", cursive;
    -webkit-text-stroke: 0.3px var(--color-uno);
}

.NavBar .cartLogo {
    background-color: #fff;
    text-decoration: none;
    margin-right: 3rem;
    padding: 0.3rem 0.7rem;
    border: none;
}

.NavBar .cartLogo:hover {
    background-color: transparent;
}

.menu > li > .cartLogo {
    background-color: transparent;
    padding-top: 0.5rem;
}

.menu > li > .cartLogo:hover {
    background-color: transparent;
}

.cartLogo img {
    width: 3rem;
}

.black {
    color: black;
}

.container-cartWidget {
    display: flex;
}

.container-cartWidget p {
    background-color: var(--color-uno);
    color: #fff;
    border-radius: 50%;
    width: 2rem;
    text-align: center;
}

/* loader */

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-loader {
    height: 40vmin;
    pointer-events: none;
    height: 150px;
    animation: App-logo-spin infinite 5s linear;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* cards */

.contain-cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.contain-image-card {
    width: 100%;
}

.contain-image-card img {
    width: 13rem;
    height: 10rem;
}

.cards {
    border: 1px solid var(--color-uno);
    border-radius: 5%;
    width: 20%;
    margin: 3rem 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cards:hover {
    box-shadow: 0px -1px 52px 12px rgba(76, 4, 4, 0.75);
    -webkit-box-shadow: 0px -1px 52px 12px rgba(76, 4, 4, 0.75);
    -moz-box-shadow: 0px -1px 52px 12px rgba(76, 4, 4, 0.75);
}

.cards:hover .button-card {
    background-color: var(--color-cinco);
}

.button-card {
    background-color: var(--color-uno);
    color: #fff;
    border: 1px solid black;
    border-radius: 5%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* CartDetail */
.bkgc-detail {
    width: 100%;
    height: 100vh;
    background: url(./images/cafe-info4.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contain-cartDetail {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 30rem;
    border: 1px solid black;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.52);
}

.contain-cartDetail:hover {
    box-shadow: 0px -1px 52px 12px rgba(76, 4, 4, 0.75);
    -webkit-box-shadow: 0px -1px 52px 12px rgba(76, 4, 4, 0.75);
    -moz-box-shadow: 0px -1px 52px 12px rgba(76, 4, 4, 0.75);
}

.contain-img-detail img {
    width: 15rem;
    height: 20rem;
}

.div-detail1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40rem;
    height: 40rem;
}

.div-detail2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
}

.button-card-detail {
    background-color: var(--color-uno);
    color: #fff;
    border: 1px solid black;
    border-radius: 5%;
    width: 3rem;
    height: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.button-card-detail:hover {
    background-color: var(--color-ocho);
}

.button-card-AddToCart-detail {
    background-color: var(--color-uno);
    color: #fff;
    border: 1px solid black;
    border-radius: 5%;
    width: 7rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.button-card-AddToCart-detail:hover {
    background-color: var(--color-ocho);
    text-transform: uppercase;
}

.price-detail {
    margin-bottom: 1rem;
}

/* Cart */

/* Table  */

.table {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.table-header {
    background-color: var(--color-siete);
    border: 1px solid #4c0404;
    width: 1000px;
}

.table-th {
    width: 200px;
}

.th-color {
    background-color: var(--color-uno);
    color: #fff;
}

.title-carrito {
    font-size: 100px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(./images/back.jpg);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

.Cart-empty {
    font-size: 2rem;
}

.white {
    color: #fff;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 15rem;
    border: 1px solid black;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

label {
    padding-left: 1rem;
    text-align: center;
}

input {
    margin-left: 1rem;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.buy-buttom {
    background-color: #4c0404;
    color: rgb(255, 255, 255);
    width: 7rem;
    height: 2rem;
    margin: 1rem 0;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
}

/*  contacto */

.container-contact {
    position: relative;
    width: 100%;
    height: 40rem;
    z-index: 10;
    background-image: url(./images/fondo-formulario.jpg);
    background-position: center;
    background-size: cover;
}

.contact-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15%;
    left: 15%;
    width: 30rem;
    height: 20rem;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: #ddd;
    border: 3px solid black;
    border-radius: 5%;
    font-size: 2rem;
}

.contact-content ul {
    list-style: none;
}

.contact-loader {
    position: absolute;
    top: 60%;
    left: 65%;
}
