* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

html {
    font: 62, 5%;
}

/* fuentes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* paleta de colores */
:root {
    --color-uno: #4c0404;
    --color-dos: #742c0c;
    --color-tres: #ac7c4c;
    --color-cuatro: #904b1b;
    --color-cinco: #9c5c24;
    --color-seis: #b68d6c;
    --color-siete: #d3baa2;
    --color-ocho: #b06c34;
}
/* CLASES GENERALES */
.centrar {
    display: flex;
    justify-content: content;
    align-items: center;
    flex-direction: column;
}

/* NavBar */

.presentacion {
    height: 100vh;
    background-image: url(./images/cafefondo.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.NavBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.NavBar-div {
    margin: 2rem 5rem;
}

.logo {
    height: 8rem;
}

.dolcata {
    height: 5rem;
}

/* NavBar2 */

.navegacion {
    width: 80rem;
    margin: 2rem auto;
    background: rgba(255, 255, 255, 0);
}

.navegacion ul {
    list-style: none;
}

.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li > a {
    display: block;
    text-decoration: none;
    border-radius: 20px;
    padding: 0.3rem 0.7rem;
    color: #fff;
    background-color: var(--color-uno);
    border-color: var(--color-uno);
    margin-right: 3rem;
}

.menu > li > a:hover {
    color: #4c0404;
    transition: all 0.3s;
    color: #fff;
    background-color: var(--color-dos);
}

/* submenu */

.submenu {
    position: absolute;
    background-color: #904c1b00;
    width: 120%;
    padding: 0.3rem 0.7rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu > li > a {
    display: block;
    padding: 0.8rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
}

li:hover .submenu {
    visibility: visible;
    opacity: 1;
}

.titulo {
    position: absolute;
    top: 30%;
    left: 20%;
}

.titulo small {
    color: var(--color-dos);
    font-size: 3rem;
    font-family: "Birthstone", cursive;
}

h1 {
    font-size: 6rem;
    line-height: 5rem;
    font-family: "Lato", sans-serif;
    text-shadow: -1px 3px 24px rgba(0, 0, 0, 0.6);
}

.NavBar .cartLogo {
    background-color: #fff;
    text-decoration: none;
    margin-right: 3rem;
    padding: 0.3rem 0.7rem;
    border: none;
}

.NavBar .cartLogo:hover {
    background-color: transparent;
}

.menu > li > .cartLogo {
    background-color: transparent;
    padding-top: 0.5rem;
}

.menu > li > .cartLogo:hover {
    background-color: transparent;
}

.cartLogo img {
    width: 3rem;
}

/* cards */

.contain-cards {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.contain-image-card {
    width: 100%;
}

.contain-image-card img {
    width: 10rem;
}

.cards {
    border: 1px solid black;
    border-radius: 5%;
    width: 20%;
    margin: 3rem 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button-card {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* CartDetail */

.contain-cartDetail {
    border: 1px solid black;
    margin: 2rem 10rem;
    padding: 2rem 0;
    text-align: center;
}
